html {
  font-family: var(--f-body);
  font-size: 1.0625rem;
  font-size: clamp(1.0625rem, 0.9553571428571429rem + 0.2976190476190476vw, 1.3125rem);
  line-height: 1.5;
  scroll-behavior: smooth;
  text-rendering: optimizelegibility;
  background-color: var(--c-lightest);
  color: var(--c-darkest);
  /* 
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px; */
}

body {
  overflow-x: hidden;
}

main {
  min-height: 100vh;
}

.no-scroll {
  overflow: hidden;
}