<section class='grid lp-border-bottom lp-border lp-cta'>
  <div class='lp-cta__left'>
    <h2>Interested in local philosophy?</h2>
    <p>The aim of our nonprofit organization is to engage philosophers and
      philosophical thinking with particular places around the country and
      beyond. Support our organization
      <a href='https://www.localphilosophy.org/donate/'>by donating here</a>. To
      sign up for email updates about new essays or events, click subscribe.</p>
    <a class='lp-button' href='#/portal'>Subscribe</a>
  </div>
  <div class='lp-cta__right'>
    {{#get 'tags' include='count.posts' order='count.posts desc' limit='all'}}
      {{#foreach tags}}
        <p>{{name}}</p>
      {{/foreach}}
      <p>Cincinnati</p>
      <p>Tucson</p>
      <p>Detroit</p>
      <p>Paris</p>
      <p>Sydney</p>
      <p>Berlin</p>
      <p>Mexico City</p>
      <p>Portland</p>
      <p>Chicago</p>
      <p>Kyiv</p>
      <p>Naples</p>
      <p>Cincinnati</p>
      <p>Tucson</p>
      <p>Detroit</p>
      <p>Paris</p>
      <p>Sydney</p>
      <p>Berlin</p>
      <p>Mexico City</p>
      <p>Portland</p>
      <p>Chicago</p>
    {{/get}}
  </div>
</section>