<footer class="lp-footer grid">

    <div class="lp-footer__inner">

<div class="lp-footer__column">
    <p>{{@site.title}}</p>
    <p>{{@site.description}}</p>
</div>

<div class="lp-footer__column">

</div>

<div class="lp-footer__column">
    &copy; {{date format="YYYY"}}
</div>
</div>
</footer>