{{#contentFor 'scripts'}}

{{/contentFor}}


<section class='lp-home-map-wrapper lp-border lp-border-bottom grid'>
  <div class='lp-home-map' id='map'></div>
  {{#is "tag"}}
    {{#tag}}
    <div class="lp-place-name">
      <h1>{{name}}</h1>
    </div>
    {{/tag}}
  {{/is}}
</section>

<section class="grid lp-border-bottom lp-border">
  <div class="lp-home-card-container">
  {{#foreach posts}}
    {{> "card" home="true"}}
  {{/foreach}}
  </div>
</section>

<section class="grid lp-border-bottom lp-border lp-places__card-container">
  <h2>Places</h2>
  
    <div class="lp-places-container">
        {{#get "tags" include="count.posts" order="count.posts desc"}}
            {{#foreach tags}}
                {{> "place-card"}}
            {{/foreach}}
        {{/get}}
    
</div>
  </div>
 
</section>


{{#contentFor 'foot'}}

{{/contentFor}}


