<article class="lp-place-card" style="background-image: url({{img_url feature_image size='m'}})">
        <header>
            <h2>{{name}}</h2>
        </header>
        {{#if description}}<p class="lp-place-card__description">{{description}}</p>{{/if}}
</article>