<div class="lp-search-container grid">
   <div class="lp-search-form">
       <h2>Search</h2>
       <label>Enter search term
    <input type="search" autofocus>
</label>
   </div>

   <div class="lp-search-results">

   </div>
</div>