.lp-border {
  width: 100%;
  border-color: var(--c-lighter);
  border-width: 1px;
}

.lp-post.lp-border {
  border-color: var(--c-dark);
}

.lp-border-bottom {
  border-bottom-style: solid;
}

.lp-border-left {
  border-left-style: solid;
}


.lp-border-top {
  border-top-style: solid;
}