.lp-border {
  width: 100%;
  border-color: var(--c-50);
  border-width: 1px;
}

.lp-post.lp-border {
  border-color: transparent;
}

.lp-border-bottom {
  border-bottom-style: solid;
}

.lp-border-left {
  border-left-style: solid;
}
