/* You would enter button styles here */
.lp-button {
  padding: var(--button-padding);
  font-family: var(--f-system);
  font-size: var(--small);
  line-height: 1;
  color: #fff;
  background-color: var(--primary);
  border: none;
  border-radius: var(--radius);
  transition: background-color var(--transition);
  cursor: pointer;
}

.lp-button:hover {
  background-color: var(--light);
}
.lp-button--icon {
  height: 2rem;
  width: 2rem;
  box-sizing: content-box;
  padding: 0.5rem;
}

.lp-button--icon:hover svg {
  fill: var(--c-primary);
}

.lp-button--icon svg {
  height: 100%;
  width: 100%;
  display: inline-block;
  fill: var(--c-800);
  transition: fill var(--transition);
}
