/* Home cards */
.lp-home-card-container,
 .lp-post_related,
 .lp-places-container {
  display: grid;
  padding: 1rem 1rem 1rem 0;
  margin-bottom: 1rem;
  overflow-x: scroll;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 1rem;
  grid-column: 3 / -1;
}

.lp-home-card-container::-webkit-scrollbar-track {
  background-color: var(--c-lightest);
}

.lp-home-card-container::-webkit-scrollbar-thumb {
  background-color: var(--c-lighter);
  border-radius: var(--radius-small);
}

.lp-home-card-container::-webkit-scrollbar-thumb:hover {
  background-color: var(--c-light);
}

.lp-home-card-container--inner {
}

.lp-home-card {
  position: relative;
  width: 100%;
  height: calc((100vh - (var(--navbar-height) + 5rem)) * var(--card-height));
  padding: var(--card-padding);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: var(--radius-small);
  transition: filter var(--transition);
  aspect-ratio: 4 / 3;
  scroll-padding-inline: 1rem;
}

.lp-home-card section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  transition: border-color var(--transition);
}

.lp-home-card::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  content: '';
  background-color: rgba(0 0 0 / 0.5);
  border-radius: var(--radius-small);
}

.lp-current-card {
  filter: saturation(1);
}

.lp-current-card::before {
  background-color: rgba(0 0 0 / 0.85);
  background-image: none;
}

.lp-current-card::after {
  position: absolute;
  top: -1rem;
  left: 50%;
  content: '';
  border-color: transparent;
  border-style: solid;
  border-width: 1rem;
  transition: border-color var(--transition);
  transform: translate(-50%, -50%);
}

.lp-current-card::after {
  border-color: transparent transparent var(--c-light) transparent;
}

.lp-home-card > section {
  position: relative;
}

.lp-home-card h2 {
  margin: 0;
  font-size: 1rem;
  color: var(--c-lightest);
}

.lp-home-card__authors p {
  font-size: var(--small);
  font-weight: 700;
  color: var(--c-lighter);
  letter-spacing: var(--letter-spacing);
}

.lp-home-card footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}


/* Interactivity */
.lp-current-card {
  /* border: 5px solid var(--c-primary); */
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.15))
    drop-shadow(0 2px 2px rgb(0 0 0 / 0.13));
}

.lp-current-card .lp-home-card--front {
  display: none;
}

.lp-home-card .lp-home-card--back {
  display: none;
}

.lp-current-card .lp-home-card--back {
  display: flex;
}

.lp-home-card--back {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 1rem;
}

.lp-home-card--back p {
  display: box;
  overflow: hidden;
  font-size: var(--small);
  color: var(--c-lightest);
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.lp-home-card--back > *:first-child {
  margin: 0;
}

.lp-home-card--back > *:last-child {
  align-self: flex-start;
  margin: 0;
}
