/* Home cards */
.lp-home-card-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  gap: 1rem;
  padding: 1rem;
  padding-left: calc((100vw - var(--width)) / 2);
  overflow-x: scroll;
  overscroll-behavior-inline: contain;
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 1rem;
}

.lp-home-card-container--inner {
}

.lp-home-card {
  position: relative;
  flex-shrink: 0;

  height: calc((100vh - (4.25rem + 4rem)) * 0.4);

  padding: 0.75rem 1rem;
  background-repeat: no-repeat;
  background-size: cover;
  border: 5px solid #fff;
  aspect-ratio: 4 / 3;
  /* overflow: hidden; */
}

.lp-home-card section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  transition: border-color var(--transition);
}

.lp-home-card::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  content: '';
  background-image: var(--linear-up);
}

.lp-current-card::before {
  background-image: linear-gradient(rgba(0 0 0 / 0.75), rgba(0 0 0 / 0.75));
}

.lp-current-card::after {
  position: absolute;
  top: -1rem;
  left: 50%;
  content: '';
  border-color: transparent;
  border-style: solid;
  border-width: 1rem;
  transition: border-color var(--transition);
  transform: translate(-50%, calc(-50% - 5px));
}

.lp-current-card::after {
  border-color: transparent transparent var(--c-primary) transparent;
}

.lp-home-card > section {
  position: relative;
}

.lp-home-card__location,
.lp-home-card__read {
  display: inline-block;
  padding: 0.5em;
  font-size: min(var(--small), 13px);
  color: var(--c-900);
  background-color: var(--c-primary);
  border-radius: var(--radius-small);
  text-decoration: none;
  line-height: 1;
}

.lp-home-card h2 {
  margin: 0;
  font-size: 1rem;
  color: var(--c-50);
}

.lp-home-card__authors {
  font-size: 14px;
  color: var(--c-100);
}

.lp-home-card footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.lp-home-card footer a {
  display: inline-block;
  height: 1.25em;
  height: 1.25em;
  line-height: 1;
}

.lp-home-card footer a:hover svg {
  color: var(--c-light);
}

.lp-home-card footer svg {
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 1;
  color: var(--c-primary);
  transition: fill var(--transition);
}

/* Interactivity */
.lp-current-card {
  border: 5px solid var(--c-primary);
}

.lp-current-card .lp-home-card--front {
  display: none;
}

.lp-home-card .lp-home-card--back {
  display: none;
}

.lp-current-card .lp-home-card--back {
  display: flex;
}

.lp-home-card--back {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1rem;
  justify-content: space-between;
}

.lp-home-card--back p {
  color: var(--c-100);
  font-size: var(--small);
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.lp-home-card--back > *:first-child {
  margin: 0;
}

.lp-home-card--back > *:last-child {
  margin: 0;
  align-self: flex-start;
}
