.lp-cta {
  position: relative;
  padding: 3rem 0;
  overflow: hidden;
  background-color: var(--c-secondary);
}

.lp-cta.lp-border {
  border: none;
}

.lp-cta__left {
  position: relative;
  z-index: 1;
  max-width: var(--content);
  padding-right: 2rem;
  padding-bottom: 1rem;
}

@media (min-width: 576px) {
  .lp-cta__left {
    width: 50%;
  }
}

.lp-cta__left .lp-button {
  display: inline-block;
  margin-top: 1rem;
  font-family: var(--f-system);
  font-weight: 700;
  color: var(--c-dark);
  text-transform: uppercase;
  letter-spacing: 0.2px;
  background-color: var(--c-secondary-dark);
}

.lp-cta__left .lp-button:hover {
  background-color: var(--c-secondary-light);
}

.lp-cta__right {
  position: absolute;
  right: 0;
  z-index: 0;
  display: flex;
  flex-wrap: wrap;
  transform: translate(60%, -30%) rotate(-15deg);
  gap: 1rem;
}

.lp-cta__right p {
  flex-basis: max-content;
  padding: var(--button-padding-y) var(--button-padding-x);
  font-family: var(--c-heading);
  font-size: 2.75rem;
  font-weight: 900;
  color: var(--c-secondary);
  white-space: nowrap;
  background-color: var(--c-secondary-dark);
  border-radius: var(--radius);
  opacity: 0.35;
}
