.lp-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  width: 100vw;
  height: 100%;
  pointer-events: none;
  background-color: rgba(0 0 0 / 0.95);
  opacity: 0;
  transition: opacity 0.3s;
}

.lp-overlay .lp-button--icon svg {
  fill: var(--c-darkest);
}
.lp-overlay .lp-button--icon:hover svg {
  fill: var(--c-primary);
}

.lp-menu {
  width: 100%;
  max-width: 750px;
  height: 100%;
  padding: var(--gap) 0;
  overflow-y: auto;
  background-color: var(--c-lightest);
  transition: transform 0.2s ease-out;
  transform: translateX(-100%);
}

.lp-menu a {
  text-decoration: none;
}

.lp-menu a:hover {
  color: var(--c-primary);
}

.lp-menu__title-container {
  display: flex;
  justify-content: space-between;
}

.lp-menu > .grid:first-child {
  padding-bottom: 1rem;
}

.lp-menu__title {
  font-family: var(--f-heading);
  font-size: 2rem;
  font-weight: 900;
}

.lp-menu__title + p {
  margin-bottom: 1rem;
  line-height: 1.2;
  color: var(--c-dark);
}

.lp-overlay[aria-expanded='true'] {
  pointer-events: all;
  opacity: 1;
  transition: opacity 0.3s;
  /* transition: opacity 4s ease 0s; */
}

.lp-overlay[aria-expanded='true'] .lp-menu {
  /* transition: transform 2s ease-in 1s; */
  transition: transform 0.2s ease-in;

  transform: translateX(0);
}

.lp-places__overlay {
  padding: 1rem 0;
  row-gap: 1rem;
}

.lp-places__overlay h2 {
  margin: 0;
}
