.lp-places__card-container {
  padding: 2rem 0;
}

.lp-places__card-container h2 {
  margin: 0;
}

.lp-place-card {
  position: relative;
  z-index: 1;
  height: calc((100vh - (var(--navbar-height) + 4rem)) * var(--card-height));
  overflow: hidden;

  color: #fff;
  border-radius: var(--radius-small);
  aspect-ratio: 4 / 3;
}

.lp-place-card img {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform var(--transition);
  object-fit: cover;
}

.lp-place-card:hover img {
  transform: scale(115%);
}

.lp-place-card > * {
  position: relative;
}

.lp-place-card::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  content: '';
  background-color: rgba(0, 0, 0, 0.25);
}

.lp-place-card__badge {
  width: auto;
  color: var(--c-darkest);
  background-color: var(--c-primary);
  border-radius: var(--radius-small);
}

.lp-place-card h2 {
  margin: 0;
}

.lp-place-card a {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  padding: 1rem;
  text-decoration: none;
}
