.lp-post__share-container {
  position: relative;
}
.lp-share-menu {
  position: absolute;
  top: 50%;
  right: 0;
  padding: 0.5rem;
  pointer-events: none;
  background-color: var(--c-lightest);
  border-radius: var(--radius-small);
  opacity: 0;
  transition: opacity var(--transition);
  transform: translate(calc(100% + 0.75em), -50%) scale(0, 0);
}

.lp-share-menu[aria-expanded='true'] {
  pointer-events: all;
  opacity: 1;
  transform: translate(calc(100% + 0.75em), -50%) scale(100%, 100%);
}

.lp-share-menu::before {
  position: absolute;
  top: 50%;
  left: -0.9em;
  content: '';
  border-color: transparent var(--c-lightest) transparent transparent;
  border-style: solid;
  border-width: 0.5em;
  transform: translateY(-50%);
}

.lp-post__meta .lp-share__link svg {
  width: 1.25rem;
  height: 1.25rem;
  color: var(--c-darker);
  transition: color var(--transition);
}

.lp-share__link:not(:last-child) {
  margin-bottom: 0.5rem;
}
.lp-post__meta .lp-share__link:hover svg {
  color: var(--c-primary);
}

.lp-post__meta .copied svg.lp-copy-icon {
  display: none;
}

.lp-post__meta svg.lp-copied-icon {
  display: none;
}

.lp-post__meta .copied svg.lp-copied-icon {
  display: initial;
}


