.lp-author__header {
  align-items: center;
  padding-bottom: 1rem;
  margin: 1.5em 0;
  text-align: center;
  row-gap: 1rem;
}

.lp-author__profile {
  width: 8rem;
  height: 8rem;
  margin: 0 auto;
  border-radius: 50%;
  object-fit: cover;
}

.lp-author__header h1 {
  margin: 0;
}

.lp-author__location {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--c-dark);
}

.lp-author__location svg {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: var(--icon-right);
}

.lp-author__social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  line-height: 1;
  gap: 1rem;
}

.lp-author__social a {
  line-height: 1;
  color: var(--c-dark);
  transition: color var(--transition);
}

.lp-author__social a:hover {
  color: var(--c-primary);
}

.lp-author__social svg {
  display: inline-block;
  width: 1.75rem;
  height: 1.75rem;
  color: inherit;
}

.lp-author__bio {
  max-width: var(--content);
  margin: 1rem auto;
  font-size: 1.25rem;
  font-style: italic;
}

.lp-author__cover-image {
  max-width: var(--content);
  padding: 0.5rem;
  margin: 0 auto;
  border-style: solid;
  border-radius: var(--radius-small);
}

.lp-author__cover-image img {
  display: block;
  width: 100%;
  border-radius: var(--radius-small);
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

/* Cards */
.lp-author__wrapper {
  padding-bottom: 1rem;
  margin-bottom: 3rem;
}

.lp-author__container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 450px));
  justify-content: center;
}

.lp-author__container > article {
  width: auto;
  height: auto;
}
