/* These styles define the layout of the post (and page) */

.post-template .post {
  margin-bottom: -5rem;
}

.post {
  margin-bottom: 3rem;
}

.post-template .post {
  transform: translateY(-8rem);
}

.lp-post__title-container {
  justify-items: center;
  row-gap: 1rem;
}

.lp-post__header {
  position: relative;
  padding-bottom: 1rem;
}

.post-template .lp-post__header {
  padding-bottom: 12rem;
}

.lp-post__header-img::before {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: '';
  background-color: rgba(0 0 0 / 0.75);
}

.lp-post__header-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  grid-column: 1 / -1;
}

.lp-post__header-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lp-post__header h1 {
  max-width: 60rem;
  margin: 2rem auto 0;
  font-size: 2.25rem;
  text-align: center;
}

.post-template .lp-post__header h1 {
  color: var(--c-lightest);
}

.lp-post__author {
  display: flex;
  justify-content: center;
  width: auto;
  color: var(--c-lighter);
  gap: 1rem;
}

.lp-post__author a {
  text-decoration: none;
}

.lp-post__author .lp-author {
  justify-content: center;
  font-size: var(--h5);
  font-weight: 700;
  letter-spacing: var(--letter-spacing);
}

.lp-post__meta {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: var(--gap);
  font-family: var(--f-system);
  font-size: var(--smaller);
  color: var(--c-lighter);
  text-transform: uppercase;
  row-gap: 0.5em;
}

.lp-post__meta a,
.lp-post__meta p,
.lp-post__meta button {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  text-decoration: none;
  gap: var(--icon-right);
  transition: color var(--transition);
}

.lp-post__meta button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  text-transform: inherit;
  cursor: pointer;
  background: none;
  border: none;
}

.lp-post__meta a:hover,
.lp-post__meta button:hover {
  color: var(--c-primary-light);
}

.lp-post__meta svg {
  display: inline-block;
  width: 1em;
  height: 1em;
}

.lp-post__excerpt {
  max-width: 66ch;
  /* font-size: var(--small); */
  font-style: italic;
  color: var(--c-light);
  text-align: center;
}

/* Content */

.lp-post__content {
  display: grid;
  grid-template-columns:
    var(--gap) 1fr minmax(100px, var(--content)) 1fr
    var(--gap);
  max-width: 100%;
  overflow-x: hidden;
}

.lp-post__content > * {
  grid-column: 3 / 4;
}

@media (min-width: 768px) {
  .lp-post__content {
    grid-template-columns:
      var(--gap) 1fr 2rem 1rem minmax(100px, var(--content))
      1rem 2rem 1fr var(--gap);
  }

  .lp-post__content > * {
    grid-column: 5 / 6;
  }
}

.lp-post__content > *[id]:first-child {
  margin-top: 0;
}

.lp-post__content img {
  display: block;
}

.lp-post__content figcaption {
  padding: 0.15em 0.25em;
  font-size: var(--small);
  text-align: center;
  background-color: var(--c-lighter);
}

.lp-post__content blockquote {
  padding: 0 2rem;
}

.lp-post__content p > a {
  transition: color;
}

.lp-post__content p > a:hover {
  color: var(--c-primary);
}

.lp-post__caption {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--button-padding);
  padding: var(--button-padding-y) var(--button-padding-x);
  font-size: var(--small);
  color: var(--c-dark);
  text-align: center;
  background-color: var(--c-light);
  border-radius: var(--radius-small);
}

.lp-post__caption svg {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: var(--icon-right);
}

/* Map */
#lp-post-map {
  width: 90vw;
  max-width: 100%;
  height: 20rem;
  margin: 0 auto;
  background-color: var(--c-primary-light);
  border-radius: var(--radius-small);
  /* margin-top: 3rem; */
  transform: translateY(-50%);
}

@media (min-width: 37rem) {
  #lp-post-map {
    width: 35rem;
  }
}
