:root {
  --f-system: system-ui, -apple-system, blinkmacsystemfont, 'Segoe UI', roboto,
    oxygen, ubuntu, cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --f-heading: 'Playfair Display', serif;
  --f-body: 'Lora', serif;
  --f-logo: 'Playfair Display';

  --h1: 2rem;
  --h2: 1.7411rem;
  --h3: 1.5157rem;
  --h4: 1.3195rem;
  --h5: 1.1487rem;
  --h6: 1rem;

  --small: 0.833rem;
  --smaller: 0.694rem;
  --smallest: 0.579rem;

  --gap: 1.5rem;
  --button-padding-y: 0.5em;
  --button-padding-x: 1em;
  --card-padding: 1em;
  --icon-right: 0.25em;
  --transition: 0.3s;
  --letter-spacing: 0.35px;

  --width: 65rem;
  --content: 52ch;
  --map-height: 0.6;
  --card-height: 0.4;
  --navbar-height: 3.25rem;

  --c-primary: #62b5c6;
  --c-primary-light: hsl(190, 47%, 68%);
  --c-primary-dark: hsl(189, 47%, 48%);

  --c-secondary: #fec686;
  --c-secondary-light: hsl(32, 100%, 87%);
  --c-secondary-dark: #ffb357;

  --c-darkest: #262322;
  --c-darker: hsl(15, 6%, 18%);
  --c-dark: hsl(15, 6%, 22%);

  --c-lightest: hsl(15, 30%, 98%);
  --c-lighter: hsl(15, 30%, 96%);
  --c-light: hsl(15, 30%, 92%);

  --shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  /* 
  --c-50: hsl(240, 5%, 96%);
  --c-200: hsl(240, 6%, 90%);
  --c-300: hsl(240, 5%, 84%);
  --c-400: hsl(240, 5%, 65%);
  --c-500: hsl(240, 4%, 46%);
  --c-600: hsl(240, 5%, 34%);
  --c-700: hsl(240, 5%, 26%);
  --c-800: hsl(240, 4%, 16%);
  --c-900: hsl(240, 6%, 10%); */

  --radius: 0.5em;
  --radius-small: 0.15em;
}

@media (min-width: 768px) {
  :root {
    --gap: 2rem;
  }
}

@media (min-height: 1000px) {
  :root {
    --map-height: 0.7;
    --card-height: 0.3;
  }
}
