:root {
  --f-system: system-ui, -apple-system, blinkmacsystemfont, 'Segoe UI', roboto,
    oxygen, ubuntu, cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --f-heading: 'Playfair Display', serif;
  --f-body: 'Chivo', serif;
  --h1: 2rem;
  --h2: 1.7411rem;
  --h3: 1.5157rem;
  --h4: 1.3195rem;
  --h5: 1.1487rem;
  --h6: 1rem;
  --small: 0.8706rem;

  --gap: 1rem;
  --button-padding: 0.5em 1em;
  --transition: 0.3s;

  --width: 1200px;
  --content: 720px;

  --c-primary: rgb(0, 189, 214);
  --c-light: #62efff;
  --c-dark: #008ba3;
  --c-secondary: #ff9800;
  --c-secondary-light: #ffc947;
  --c-secondary-dark: #c66900;

  --c-50: hsl(187, 2%, 90%);
  --c-100: hsl(187, 2%, 80%);
  --c-200: hsl(187, 2%, 70%);
  --c-300: hsl(187, 2%, 60%);
  --c-400: hsl(187, 2%, 50%);
  --c-500: hsl(187, 2%, 42%);
  --c-600: hsl(187, 2%, 30%);
  --c-700: hsl(187, 2%, 20%);
  --c-800: hsl(187, 2%, 10%);
  --c-900: hsl(187, 2%, 2%);
  /* 
  --c-50: hsl(240, 5%, 96%);
  --c-200: hsl(240, 6%, 90%);
  --c-300: hsl(240, 5%, 84%);
  --c-400: hsl(240, 5%, 65%);
  --c-500: hsl(240, 4%, 46%);
  --c-600: hsl(240, 5%, 34%);
  --c-700: hsl(240, 5%, 26%);
  --c-800: hsl(240, 4%, 16%);
  --c-900: hsl(240, 6%, 10%); */

  --hsl-900: 187, 2%, 2%;

  --linear-up: linear-gradient(
    0deg,
    hsla(var(--hsl-900), 1) 0%,
    hsla(var(--hsl-900), 0.85) 25%,
    hsla(var(--hsl-900), 0.45) 55%,
    hsla(var(--hsl-900), 0) 90%
  );

  --radius: 8px;
  --radius-small: 3px;
}

@media (min-width: 576px) {
  :root {
    --gap: 2rem;
  }
}
